.id {
    display: block;
    min-width: 60px;  
}

.login {
    display: block;
    min-width: 160px;
}

.avatar {
    display: block;
    min-width: 85px;
}

.type {
    display: block;
    min-width: 138px;
}